/*
  COLOURS
    purple      - #6441a4
    dark purple - #3b2064
    white       - #fff
    green       - #5cb85c
    red         - #d9534f
*/


/*
  Standard styles
*/

body {
  background-color: #6441a4;
  color: #fff;
}

.container {
  padding: 15px;
}

a,
a:focus,
a:hover {
  text-decoration: none;
}


/*
  Header styles
*/

header h1 {
  margin-bottom: 20px;
}

header img {
  width: 190px;
  max-width: 100%;
  padding: 0 15px 15px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

header a:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

header .btn {
  background-color: #3b2064;
}

header .btn.active,
header .btn:active,
header .btn.focus,
header .btn:focus,
header .btn:hover {
  background-color: #fff;
  color: #3b2064;
  -webkit-box-shadow: none;
  box-shadow: none;
}

header .btn-group .btn+.btn,
header .btn-group .btn+.btn-group,
header .btn-group .btn-group+.btn,
header .btn-group .btn-group+.btn-group {
  margin-left: 0;
}

header .btn-group {
  margin-bottom: 15px;
}

header .input-group-addon {
  background-color: #fff;
  border-color: #fff;
  color: #3b2064;
}

header input[type=search] {
  border-color: #fff;
  color: #3b2064;
  -webkit-box-shadow: none;
  box-shadow: none;
}


/*
  Main styles
*/

main a {
  line-height: 25px;
  display: block;
  border-radius: 4px;
  padding: 15px;
  margin-top: 15px;
  color: #fff;
}

main a.online {
  background-color: #5cb85c;
}

main a.offline {
  background-color: #3b2064;
}

main a.closed {
  background-color: #d9534f;
}

main a:hover,
main a:hover:focus {
  background-color: #fff;
  color: #3b2064;
}

main a:focus {
  color: #fff;
}

main img {
  width: 50px;
}

main span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/* 
  Media queries 
*/

@media (min-width: 768px) {
  main a {
    line-height: 50px;
  }
}

@media (max-width: 495px) {
  main .col-xs-2,
  main .col-xs-10 {
    width: 100%;
  }
  main img {
    margin-bottom: 10px;
  }
}